In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv("./data/total_df.csv")

In [3]:
df.head()

,zip_code,Yearly_Avg_Zip,FL_Unemployment,year,Encoded_Zip,Unnamed: 0,total_pop,households,male_pop,female_pop,...,occupation_sales_office,occupation_services,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,FLSTHPI_Yearly_Avg
0,33160,1988.000000,5.525,2015,73,26881,39235,19187,19087,20148,...,5554.0,2793.0,8276.0,5554.0,1312,994,1283,6732,1737,348.4425
1,33025,1433.250000,5.525,2015,41,26942,60994,21770,28737,32257,...,9833.0,5714.0,11785.0,9833.0,3150,3155,3604,18386,5038,348.4425
2,33139,2046.250000,5.525,2015,61,6298,38035,20149,20756,17279,...,5834.0,6648.0,9524.0,5834.0,922,690,491,5580,1745,348.4425
3,33024,1356.083333,5.525,2015,40,26203,71860,22838,35172,36688,...,11047.0,7175.0,10101.0,11047.0,3785,3863,3637,19756,5345,348.4425
4,32256,1074.833333,5.525,2015,10,26314,41609,18606,19462,22147,...,6483.0,3406.0,10984.0,6483.0,1854,1751,1887,10474,2926,348.4425

In [4]:
df.year.unique()

array([2015, 2016, 2017, 2018])

In [5]:
df.shape

(480, 220)

In [6]:
df.columns.tolist()

['zip_code',
 'Yearly_Avg_Zip',
 'FL_Unemployment',
 'year',
 'Encoded_Zip',
 'Unnamed: 0',
 'total_pop',
 'households',
 'male_pop',
 'female_pop',
 'median_age',
 'male_under_5',
 'male_5_to_9',
 'male_10_to_14',
 'male_15_to_17',
 'male_18_to_19',
 'male_20',
 'male_21',
 'male_22_to_24',
 'male_25_to_29',
 'male_30_to_34',
 'male_35_to_39',
 'male_40_to_44',
 'male_45_to_49',
 'male_50_to_54',
 'male_55_to_59',
 'male_65_to_66',
 'male_67_to_69',
 'male_70_to_74',
 'male_75_to_79',
 'male_80_to_84',
 'male_85_and_over',
 'female_under_5',
 'female_5_to_9',
 'female_10_to_14',
 'female_15_to_17',
 'female_18_to_19',
 'female_20',
 'female_21',
 'female_22_to_24',
 'female_25_to_29',
 'female_30_to_34',
 'female_35_to_39',
 'female_40_to_44',
 'female_45_to_49',
 'female_50_to_54',
 'female_55_to_59',
 'female_60_to_61',
 'female_62_to_64',
 'female_65_to_66',
 'female_67_to_69',
 'female_70_to_74',
 'female_75_to_79',
 'female_80_to_84',
 'female_85_and_over',
 'population_1_year_and_over',
 'population_3_years_over',
 'pop_16_over',
 'pop_25_years_over',
 'pop_25_64',
 'not_us_citizen_pop',
 'other_race_pop',
 'two_or_more_races_pop',
 'median_income',
 'income_per_capita',
 'income_less_10000',
 'income_10000_14999',
 'income_15000_19999',
 'income_20000_24999',
 'income_25000_29999',
 'income_30000_34999',
 'income_35000_39999',
 'income_40000_44999',
 'income_45000_49999',
 'income_50000_59999',
 'income_60000_74999',
 'income_75000_99999',
 'income_100000_124999',
 'income_125000_149999',
 'income_150000_199999',
 'income_200000_or_more',
 'pop_determined_poverty_status',
 'poverty',
 'gini_index',
 'housing_units',
 'renter_occupied_housing_units_paying_cash_median_gross_rent',
 'owner_occupied_housing_units_lower_value_quartile',
 'owner_occupied_housing_units_median_value',
 'owner_occupied_housing_units_upper_value_quartile',
 'occupied_housing_units',
 'housing_units_renter_occupied',
 'vacant_housing_units',
 'vacant_housing_units_for_rent',
 'vacant_housing_units_for_sale',
 'dwellings_1_units_detached',
 'dwellings_1_units_attached',
 'dwellings_2_units',
 'dwellings_3_to_4_units',
 'dwellings_5_to_9_units',
 'dwellings_10_to_19_units',
 'dwellings_20_to_49_units',
 'dwellings_50_or_more_units',
 'mobile_homes',
 'housing_built_2005_or_later',
 'housing_built_2000_to_2004',
 'housing_built_1939_or_earlier',
 'median_year_structure_built',
 'married_households',
 'nonfamily_households',
 'family_households',
 'households_public_asst_or_food_stamps',
 'male_male_households',
 'female_female_households',
 'children',
 'children_in_single_female_hh',
 'median_rent',
 'percent_income_spent_on_rent',
 'rent_burden_not_computed',
 'rent_over_50_percent',
 'rent_40_to_50_percent',
 'rent_35_to_40_percent',
 'rent_30_to_35_percent',
 'rent_25_to_30_percent',
 'rent_20_to_25_percent',
 'rent_15_to_20_percent',
 'rent_10_to_15_percent',
 'rent_under_10_percent',
 'owner_occupied_housing_units',
 'million_dollar_housing_units',
 'mortgaged_housing_units',
 'different_house_year_ago_different_city',
 'different_house_year_ago_same_city',
 'families_with_young_children',
 'two_parent_families_with_young_children',
 'two_parents_in_labor_force_families_with_young_children',
 'two_parents_father_in_labor_force_families_with_young_children',
 'two_parents_mother_in_labor_force_families_with_young_children',
 'two_parents_not_in_labor_force_families_with_young_children',
 'one_parent_families_with_young_children',
 'father_one_parent_families_with_young_children',
 'father_in_labor_force_one_parent_families_with_young_children',
 'commute_less_10_mins',
 'commute_10_14_mins',
 'commute_15_19_mins',
 'commute_20_24_mins',
 'commute_25_29_mins',
 'commute_30_34_mins',
 'commute_35_44_mins',
 'commute_60_more_mins',
 'commute_45_59_mins',
 'commuters_16_over',
 'walked_to_work',
 'worked_at_home',
 'no_car',
 'no_cars',
 'one_car',
 'two_cars',
 'three_cars',
 'four_more_cars',
 'aggregate_travel_time_to_work',
 'commuters_by_public_transportation',
 'commuters_by_bus',
 'commuters_by_car_truck_van',
 'commuters_by_carpool',
 'commuters_by_subway_or_elevated',
 'commuters_drove_alone',
 'group_quarters',
 'associates_degree',
 'bachelors_degree',
 'high_school_diploma',
 'less_one_year_college',
 'masters_degree',
 'one_year_more_college',
 'less_than_high_school_graduate',
 'high_school_including_ged',
 'bachelors_degree_2',
 'bachelors_degree_or_higher_25_64',
 'graduate_professional_degree',
 'some_college_and_associates_degree',
 'male_45_64_associates_degree',
 'male_45_64_bachelors_degree',
 'male_45_64_graduate_degree',
 'male_45_64_less_than_9_grade',
 'male_45_64_grade_9_12',
 'male_45_64_high_school',
 'male_45_64_some_college',
 'male_45_to_64',
 'employed_pop',
 'unemployed_pop',
 'pop_in_labor_force',
 'not_in_labor_force',
 'workers_16_and_over',
 'armed_forces',
 'civilian_labor_force',
 'employed_agriculture_forestry_fishing_hunting_mining',
 'employed_arts_entertainment_recreation_accommodation_food',
 'employed_construction',
 'employed_education_health_social',
 'employed_finance_insurance_real_estate',
 'employed_information',
 'employed_manufacturing',
 'employed_other_services_not_public_admin',
 'employed_public_administration',
 'employed_retail_trade',
 'employed_science_management_admin_waste',
 'employed_transportation_warehousing_utilities',
 'employed_wholesale_trade',
 'occupation_management_arts',
 'occupation_natural_resources_construction_maintenance',
 'occupation_production_transportation_material',
 'occupation_sales_office',
 'occupation_services',
 'management_business_sci_arts_employed',
 'sales_office_employed',
 'in_grades_1_to_4',
 'in_grades_5_to_8',
 'in_grades_9_to_12',
 'in_school',
 'in_undergrad_college',
 'FLSTHPI_Yearly_Avg']

In [7]:
df_2015=df[df["year"]==2015]
df_2016=df[df["year"]==2016]
df_2017=df[df["year"]==2017]
df_2018=df[df["year"]==2018]

In [8]:
df.shape

(480, 220)

In [9]:
df_2015.shape

(112, 220)

In [10]:
df_2016.shape

(118, 220)

In [11]:
df_2017.shape

(123, 220)

In [12]:
df_2018.shape

(127, 220)

In [13]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, cross_val_score, RandomizedSearchCV, GridSearchCV

In [14]:
from sklearn.model_selection import KFold
kfold = KFold(n_splits=10, shuffle=True, random_state=0)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(df_2015.drop(columns = 'Yearly_Avg_Zip'), df_2015.Yearly_Avg_Zip, test_size=0.3, random_state=0)

In [16]:
rf_2015 = RandomForestRegressor(random_state=0)
rf_2015.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

In [17]:
rf_2015_scores = cross_val_score(rf_2015, X_train, y_train, cv=kfold, scoring="neg_mean_squared_error")
rmse_train_rf=np.sqrt(np.mean(-rf_2015_scores))
rmse_train_rf

220.13803636684648

In [18]:
rmse_test_rf=np.sqrt(mean_squared_error(y_test, rf_2015.predict(X_test)))
print(rmse_test_rf)

183.5834474384529

In [19]:
X_train, X_test, y_train, y_test = train_test_split(df_2016.drop(columns = 'Yearly_Avg_Zip'), df_2016.Yearly_Avg_Zip, test_size=0.3, random_state=0)

In [20]:
rf_2016 = RandomForestRegressor(random_state=0)
rf_2016.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

In [21]:
rf_2016_scores = cross_val_score(rf_2016, X_train, y_train, cv=kfold)
print(rf_2016_scores)
np.mean(rf_2016_scores)

[-1.19758599  0.53939378  0.77705593 -0.3078767  -0.20101109  0.69114258
  0.62653567  0.49639593  0.59950053 -0.57027092]

0.1453279721590974

In [22]:
rf_2016.score(X_test, y_test)

0.7538310554241183