In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import seaborn as sns
sns.set_style("ticks")

In [2]:
import os
from google.cloud import bigquery

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = './projdec9-key.json'
client = bigquery.Client()
print(os.environ['GOOGLE_APPLICATION_CREDENTIALS'])

./projdec9-key.json

In [3]:
%load_ext google.cloud.bigquery

In [4]:
%%bigquery acs_state_2018_5yr
SELECT *
FROM
    `bigquery-public-data.census_bureau_acs.state_2018_5yr`

Query complete after 0.03s: 100%|██████████| 1/1 [00:00<00:00, 125.69query/s]
Downloading: 100%|██████████| 52/52 [00:01<00:00, 35.16rows/s]

In [5]:
%%bigquery acs_state_2017_5yr
SELECT *
FROM
    `bigquery-public-data.census_bureau_acs.state_2017_5yr`

Query complete after 0.01s: 100%|██████████| 1/1 [00:00<00:00, 103.90query/s]
Downloading: 100%|██████████| 52/52 [00:01<00:00, 31.01rows/s]

In [6]:
%%bigquery acs_state_2016_5yr
SELECT *
FROM
    `bigquery-public-data.census_bureau_acs.state_2016_5yr`

Query complete after 0.03s: 100%|██████████| 1/1 [00:00<00:00, 24.99query/s]
Downloading: 100%|██████████| 52/52 [00:01<00:00, 29.10rows/s]

In [7]:
%%bigquery acs_state_2015_5yr
SELECT *
FROM
    `bigquery-public-data.census_bureau_acs.state_2015_5yr`

Query complete after 0.12s: 100%|██████████| 1/1 [00:00<00:00,  8.98query/s]
Downloading: 100%|██████████| 52/52 [00:01<00:00, 29.02rows/s]

In [8]:
%%bigquery acs_state_2014_5yr
SELECT *
FROM
    `bigquery-public-data.census_bureau_acs.state_2014_5yr`

Query complete after 0.02s: 100%|██████████| 1/1 [00:00<00:00, 57.83query/s]
Downloading: 100%|██████████| 52/52 [00:01<00:00, 28.24rows/s]

In [9]:
%%bigquery acs_state_2013_5yr
SELECT *
FROM
    `bigquery-public-data.census_bureau_acs.state_2013_5yr`

Query complete after 0.02s: 100%|██████████| 1/1 [00:00<00:00, 45.10query/s]
Downloading: 100%|██████████| 52/52 [00:02<00:00, 22.30rows/s]

In [12]:
total_pop_2013 = acs_state_2013_5yr['total_pop'].sum()
mean_income_2013 =  ((acs_state_2013_5yr['income_per_capita'] *
                      acs_state_2013_5yr['total_pop']).sum()) / total_pop_2013
mean_income_2013

27955.287541953297

In [13]:
total_pop_2014 = acs_state_2014_5yr['total_pop'].sum()
mean_income_2014 =  ((acs_state_2014_5yr['income_per_capita'] *
                      acs_state_2014_5yr['total_pop']).sum()) / total_pop_2014
mean_income_2014

28357.46949418087

In [14]:
total_pop_2015 = acs_state_2015_5yr['total_pop'].sum()
mean_income_2015 =  ((acs_state_2015_5yr['income_per_capita'] *
                      acs_state_2015_5yr['total_pop']).sum()) / total_pop_2015
mean_income_2015

28733.508955179845

In [15]:
total_pop_2016 = acs_state_2016_5yr['total_pop'].sum()
mean_income_2016 =  ((acs_state_2016_5yr['income_per_capita'] *
                      acs_state_2016_5yr['total_pop']).sum()) / total_pop_2016
mean_income_2016

29630.344572893406

In [16]:
total_pop_2017 = acs_state_2017_5yr['total_pop'].sum()
mean_income_2017 =  ((acs_state_2017_5yr['income_per_capita'] *
                      acs_state_2017_5yr['total_pop']).sum()) / total_pop_2017
mean_income_2017

30973.195787022523

In [17]:
total_pop_2018 = acs_state_2018_5yr['total_pop'].sum()
mean_income_2018 =  ((acs_state_2018_5yr['income_per_capita'] *
                      acs_state_2018_5yr['total_pop']).sum()) / total_pop_2018
mean_income_2018

32411.262103872632

In [19]:
income_levels = [
    mean_income_2013,
    mean_income_2014,
    mean_income_2015,
    mean_income_2016,
    mean_income_2017,
    mean_income_2018
]

income_pct_change = []
for i in range(len(income_levels) - 1):
    income_pct_change.append( (income_levels[i+1] - income_levels[i]) / income_levels[i] )

income_pct_change

[0.014386614754865492,
 0.013260684669911751,
 0.03121218571363825,
 0.045320134932132786,
 0.04642938128627479]

In [31]:
tx_2018 = acs_state_2018_5yr[acs_state_2018_5yr['geo_id']=='48']
tx_2017 = acs_state_2017_5yr[acs_state_2017_5yr['geo_id']=='48']
tx_2016 = acs_state_2016_5yr[acs_state_2016_5yr['geo_id']=='48']
tx_2015 = acs_state_2015_5yr[acs_state_2015_5yr['geo_id']=='48']
tx_2014 = acs_state_2014_5yr[acs_state_2014_5yr['geo_id']=='48']
tx_2013 = acs_state_2013_5yr[acs_state_2013_5yr['geo_id']=='48']

In [33]:
tx_income_levels = [
    tx_2013['income_per_capita'],
    tx_2014['income_per_capita'],
    tx_2015['income_per_capita'],
    tx_2016['income_per_capita'],
    tx_2017['income_per_capita'],
    tx_2018['income_per_capita'],
]
tx_income_levels

[51    26019.0
 Name: income_per_capita, dtype: float64,
 0    26513.0
 Name: income_per_capita, dtype: float64,
 1    26999.0
 Name: income_per_capita, dtype: float64,
 3    27828.0
 Name: income_per_capita, dtype: float64,
 5    28985.0
 Name: income_per_capita, dtype: float64,
 3    30143.0
 Name: income_per_capita, dtype: float64]

In [38]:
tx_income_pct_change = []
for i in range(len(income_levels) - 1):
    tx_income_pct_change.append( (tx_income_levels[i+1] - tx_income_levels[i]) / tx_income_levels[i] )

tx_income_pct_change

[0    NaN
 51   NaN
 Name: income_per_capita, dtype: float64,
 0   NaN
 1   NaN
 Name: income_per_capita, dtype: float64,
 1   NaN
 3   NaN
 Name: income_per_capita, dtype: float64,
 3   NaN
 5   NaN
 Name: income_per_capita, dtype: float64,
 3   NaN
 5   NaN
 Name: income_per_capita, dtype: float64]

In [36]:
ca_2018 = acs_state_2018_5yr[acs_state_2018_5yr['geo_id']=='06']
ca_2017 = acs_state_2017_5yr[acs_state_2017_5yr['geo_id']=='06']
ca_2016 = acs_state_2016_5yr[acs_state_2016_5yr['geo_id']=='06']
ca_2015 = acs_state_2015_5yr[acs_state_2015_5yr['geo_id']=='06']
ca_2014 = acs_state_2014_5yr[acs_state_2014_5yr['geo_id']=='06']
ca_2013 = acs_state_2013_5yr[acs_state_2013_5yr['geo_id']=='06']

In [37]:
ca_income_levels = [
    ca_2013['income_per_capita'],
    ca_2014['income_per_capita'],
    ca_2015['income_per_capita'],
    ca_2016['income_per_capita'],
    ca_2017['income_per_capita'],
    ca_2018['income_per_capita'],
]
ca_income_levels

[25    29527.0
 Name: income_per_capita, dtype: float64,
 27    29906.0
 Name: income_per_capita, dtype: float64,
 27    30318.0
 Name: income_per_capita, dtype: float64,
 28    31458.0
 Name: income_per_capita, dtype: float64,
 26    33128.0
 Name: income_per_capita, dtype: float64,
 27    35021.0
 Name: income_per_capita, dtype: float64]

In [ ]:
ca_income_pct_change = []
for i in range(len(income_levels) - 1):
    ca_income_pct_change.append( (income_levels[i+1] - income_levels[i]) / income_levels[i] )

ca_income_pct_change

In [27]:
ny_2018 = acs_state_2018_5yr[acs_state_2018_5yr['geo_id']=='36']
ny_2017 = acs_state_2017_5yr[acs_state_2017_5yr['geo_id']=='36']
ny_2016 = acs_state_2016_5yr[acs_state_2016_5yr['geo_id']=='36']
ny_2015 = acs_state_2015_5yr[acs_state_2015_5yr['geo_id']=='36']
ny_2014 = acs_state_2014_5yr[acs_state_2014_5yr['geo_id']=='36']
ny_2013 = acs_state_2013_5yr[acs_state_2013_5yr['geo_id']=='36']

In [28]:
fl_2018 = acs_state_2018_5yr[acs_state_2018_5yr['geo_id']=='12']
fl_2017 = acs_state_2017_5yr[acs_state_2017_5yr['geo_id']=='12']
fl_2016 = acs_state_2016_5yr[acs_state_2016_5yr['geo_id']=='12']
fl_2015 = acs_state_2015_5yr[acs_state_2015_5yr['geo_id']=='12']
fl_2014 = acs_state_2014_5yr[acs_state_2014_5yr['geo_id']=='12']
fl_2013 = acs_state_2013_5yr[acs_state_2013_5yr['geo_id']=='12']