In [14]:
import numpy as np
import pandas as pd

In [15]:
acs_2018 = pd.read_csv('./data/acs/acs_2018.csv')

In [16]:
acs_2017 = pd.read_csv('./data/acs/acs_2017.csv')

In [17]:
acs_2016 = pd.read_csv('./data/acs/acs_2016.csv')

In [18]:
acs_2015 = pd.read_csv('./data/acs/acs_2015.csv')

In [19]:
acs_2014 = pd.read_csv('./data/acs/acs_2014.csv')

In [20]:
acs_2013 = pd.read_csv('./data/acs/acs_2013.csv')

In [21]:
acs_2012 = pd.read_csv('./data/acs/acs_2012.csv')

In [22]:
acs_2011 = pd.read_csv('./data/acs/acs_2011.csv')

In [34]:
acs_2018.shape

(33089, 241)

In [35]:
acs_2017.shape

(33089, 253)

In [36]:
acs_2016.shape

(33089, 253)

In [37]:
acs_2015.shape

(33089, 248)

In [38]:
acs_2014.shape

(33089, 253)

In [39]:
acs_2013.shape

(33089, 253)

In [40]:
acs_2012.shape

(33089, 253)

In [41]:
acs_2011.shape

(33089, 253)

In [ ]:
acs_2011.shape

In [48]:
acs_2011["year"]=[2011] * 33089

In [51]:
acs_2012["year"]=[2012] * 33089
acs_2013["year"]=[2013] * 33089
acs_2014["year"]=[2014] * 33089
acs_2015["year"]=[2015] * 33089
acs_2016["year"]=[2016] * 33089
acs_2017["year"]=[2017] * 33089
acs_2018["year"]=[2018] * 33089

In [63]:
acs_2018.columns.tolist()

['geo_id',
 'do_date',
 'total_pop',
 'households',
 'male_pop',
 'female_pop',
 'median_age',
 'male_under_5',
 'male_5_to_9',
 'male_10_to_14',
 'male_15_to_17',
 'male_18_to_19',
 'male_20',
 'male_21',
 'male_22_to_24',
 'male_25_to_29',
 'male_30_to_34',
 'male_35_to_39',
 'male_40_to_44',
 'male_45_to_49',
 'male_50_to_54',
 'male_55_to_59',
 'male_65_to_66',
 'male_67_to_69',
 'male_70_to_74',
 'male_75_to_79',
 'male_80_to_84',
 'male_85_and_over',
 'female_under_5',
 'female_5_to_9',
 'female_10_to_14',
 'female_15_to_17',
 'female_18_to_19',
 'female_20',
 'female_21',
 'female_22_to_24',
 'female_25_to_29',
 'female_30_to_34',
 'female_35_to_39',
 'female_40_to_44',
 'female_45_to_49',
 'female_50_to_54',
 'female_55_to_59',
 'female_60_to_61',
 'female_62_to_64',
 'female_65_to_66',
 'female_67_to_69',
 'female_70_to_74',
 'female_75_to_79',
 'female_80_to_84',
 'female_85_and_over',
 'white_pop',
 'population_1_year_and_over',
 'population_3_years_over',
 'pop_5_years_over',
 'pop_15_and_over',
 'pop_16_over',
 'pop_25_years_over',
 'pop_25_64',
 'pop_never_married',
 'pop_now_married',
 'pop_separated',
 'pop_widowed',
 'pop_divorced',
 'not_us_citizen_pop',
 'black_pop',
 'asian_pop',
 'hispanic_pop',
 'amerindian_pop',
 'other_race_pop',
 'two_or_more_races_pop',
 'hispanic_any_race',
 'not_hispanic_pop',
 'asian_male_45_54',
 'asian_male_55_64',
 'black_male_45_54',
 'black_male_55_64',
 'hispanic_male_45_54',
 'hispanic_male_55_64',
 'white_male_45_54',
 'white_male_55_64',
 'median_income',
 'income_per_capita',
 'income_less_10000',
 'income_10000_14999',
 'income_15000_19999',
 'income_20000_24999',
 'income_25000_29999',
 'income_30000_34999',
 'income_35000_39999',
 'income_40000_44999',
 'income_45000_49999',
 'income_50000_59999',
 'income_60000_74999',
 'income_75000_99999',
 'income_100000_124999',
 'income_125000_149999',
 'income_150000_199999',
 'income_200000_or_more',
 'pop_determined_poverty_status',
 'poverty',
 'gini_index',
 'housing_units',
 'renter_occupied_housing_units_paying_cash_median_gross_rent',
 'owner_occupied_housing_units_lower_value_quartile',
 'owner_occupied_housing_units_median_value',
 'owner_occupied_housing_units_upper_value_quartile',
 'occupied_housing_units',
 'housing_units_renter_occupied',
 'vacant_housing_units',
 'vacant_housing_units_for_rent',
 'vacant_housing_units_for_sale',
 'dwellings_1_units_detached',
 'dwellings_1_units_attached',
 'dwellings_2_units',
 'dwellings_3_to_4_units',
 'dwellings_5_to_9_units',
 'dwellings_10_to_19_units',
 'dwellings_20_to_49_units',
 'dwellings_50_or_more_units',
 'mobile_homes',
 'housing_built_2005_or_later',
 'housing_built_2000_to_2004',
 'housing_built_1939_or_earlier',
 'median_year_structure_built',
 'married_households',
 'nonfamily_households',
 'family_households',
 'households_public_asst_or_food_stamps',
 'male_male_households',
 'female_female_households',
 'children',
 'children_in_single_female_hh',
 'median_rent',
 'percent_income_spent_on_rent',
 'rent_burden_not_computed',
 'rent_over_50_percent',
 'rent_40_to_50_percent',
 'rent_35_to_40_percent',
 'rent_30_to_35_percent',
 'rent_25_to_30_percent',
 'rent_20_to_25_percent',
 'rent_15_to_20_percent',
 'rent_10_to_15_percent',
 'rent_under_10_percent',
 'owner_occupied_housing_units',
 'million_dollar_housing_units',
 'mortgaged_housing_units',
 'different_house_year_ago_different_city',
 'different_house_year_ago_same_city',
 'families_with_young_children',
 'two_parent_families_with_young_children',
 'two_parents_in_labor_force_families_with_young_children',
 'two_parents_father_in_labor_force_families_with_young_children',
 'two_parents_mother_in_labor_force_families_with_young_children',
 'two_parents_not_in_labor_force_families_with_young_children',
 'one_parent_families_with_young_children',
 'father_one_parent_families_with_young_children',
 'father_in_labor_force_one_parent_families_with_young_children',
 'commute_less_10_mins',
 'commute_10_14_mins',
 'commute_15_19_mins',
 'commute_20_24_mins',
 'commute_25_29_mins',
 'commute_30_34_mins',
 'commute_35_44_mins',
 'commute_60_more_mins',
 'commute_45_59_mins',
 'commuters_16_over',
 'walked_to_work',
 'worked_at_home',
 'no_car',
 'no_cars',
 'one_car',
 'two_cars',
 'three_cars',
 'four_more_cars',
 'aggregate_travel_time_to_work',
 'commuters_by_public_transportation',
 'commuters_by_bus',
 'commuters_by_car_truck_van',
 'commuters_by_carpool',
 'commuters_by_subway_or_elevated',
 'commuters_drove_alone',
 'group_quarters',
 'associates_degree',
 'bachelors_degree',
 'high_school_diploma',
 'less_one_year_college',
 'masters_degree',
 'one_year_more_college',
 'less_than_high_school_graduate',
 'high_school_including_ged',
 'bachelors_degree_2',
 'bachelors_degree_or_higher_25_64',
 'graduate_professional_degree',
 'some_college_and_associates_degree',
 'male_45_64_associates_degree',
 'male_45_64_bachelors_degree',
 'male_45_64_graduate_degree',
 'male_45_64_less_than_9_grade',
 'male_45_64_grade_9_12',
 'male_45_64_high_school',
 'male_45_64_some_college',
 'male_45_to_64',
 'employed_pop',
 'unemployed_pop',
 'pop_in_labor_force',
 'not_in_labor_force',
 'workers_16_and_over',
 'armed_forces',
 'civilian_labor_force',
 'employed_agriculture_forestry_fishing_hunting_mining',
 'employed_arts_entertainment_recreation_accommodation_food',
 'employed_construction',
 'employed_education_health_social',
 'employed_finance_insurance_real_estate',
 'employed_information',
 'employed_manufacturing',
 'employed_other_services_not_public_admin',
 'employed_public_administration',
 'employed_retail_trade',
 'employed_science_management_admin_waste',
 'employed_transportation_warehousing_utilities',
 'employed_wholesale_trade',
 'occupation_management_arts',
 'occupation_natural_resources_construction_maintenance',
 'occupation_production_transportation_material',
 'occupation_sales_office',
 'occupation_services',
 'management_business_sci_arts_employed',
 'sales_office_employed',
 'in_grades_1_to_4',
 'in_grades_5_to_8',
 'in_grades_9_to_12',
 'in_school',
 'in_undergrad_college',
 'speak_only_english_at_home',
 'speak_spanish_at_home',
 'speak_spanish_at_home_low_english',
 'zip_code',
 'year']

In [104]:
acs_concat=pd.concat([acs_2018, acs_2017, acs_2016, acs_2015], axis=0, join="inner")
acs_concat.head()

,geo_id,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,...,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,zip_code,year
0,87537,2014-01-01,2510,856,1283,1227,42.1,58,75,87,...,304,171,80,593,20,NaN,NaN,NaN,87537,2018
1,87017,2014-01-01,346,112,150,196,50.9,0,0,12,...,0,27,15,96,40,NaN,NaN,NaN,87017,2018
2,87528,2014-01-01,3505,727,1758,1747,27.9,260,194,159,...,293,266,298,1237,138,NaN,NaN,NaN,87528,2018
3,87533,2014-01-01,133,58,49,84,25.8,0,12,8,...,24,8,7,58,3,NaN,NaN,NaN,87533,2018
4,87511,2014-01-01,2896,787,1177,1719,36.0,142,63,44,...,263,107,163,1008,279,NaN,NaN,NaN,87511,2018

In [105]:
acs_concat=acs_concat.drop(["geo_id","do_date"], axis=1) #geo_id is the same as zip_code

In [109]:
%store -r miami_zip
%store -r orlando_zip
%store -r tampa_zip
%store -r jackvonsille_zip

In [115]:
acs_concat[acs_concat.zip_code.isin(miami_zip+orlando_zip+tampa_zip+jackvonsille_zip)].shape

(304, 235)

In [114]:
acs_concat[acs_concat.zip_code.isin(miami_zip)].shape

(204, 235)

In [116]:
acs_concat[acs_concat.zip_code.isin(orlando_zip)].shape

(32, 235)

In [117]:
acs_concat[acs_concat.zip_code.isin(tampa_zip)].shape

(52, 235)

In [118]:
acs_concat[acs_concat.zip_code.isin(jackvonsille_zip)].shape

(16, 235)