In [1]:
import numpy as np
import pandas as pd

In [2]:
zri = pd.read_csv('./data/Zip_Zri_MultiFamilyResidenceRental.csv')

In [3]:
zri.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-09,2010-10,2010-11,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,2930.0,2952.0,2926.0,...,3484.0,3523.0,3573.0,3622.0,3664.0,3698.0,3704.0,3692.0,3715.0,3676.0
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,1447.0,1465.0,1469.0,...,1731.0,1749.0,1768.0,1787.0,1801.0,1806.0,1789.0,1761.0,1747.0,1731.0
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,2797.0,2811.0,2813.0,...,3449.0,3459.0,3479.0,3491.0,3510.0,3521.0,3574.0,3608.0,3561.0,NaN
3,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,NaN,NaN,NaN,...,1226.0,1250.0,1264.0,1251.0,1246.0,1252.0,1280.0,1310.0,1294.0,1286.0
4,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,1437.0,1469.0,1490.0,...,1888.0,1911.0,1934.0,1950.0,1953.0,1952.0,1921.0,1958.0,NaN,1916.0

In [6]:
#All counties in Miami metro area 
miami_counties = ["Broward County", "Miami-Dade County", "Palm Beach County"]

#All counties in Orlando metro area 
orlando_counties = ["Lake County", "Orange County", "Osceola County", "Seminole County" ]

#All counties in Tampa metro area 
tampa_counties = ["Hillsborough County", "Pinellas County"]

#All counties in Jacksonville metro area 
jackvonsille_counties = ["Duval County"]

In [21]:
miami_zip=zri[zri.CountyName.isin(miami_counties)].RegionID.unique().tolist()
%store miami_zip

Stored 'miami_zip' (list)

In [22]:
orlando_zip=zri[zri.CountyName.isin(orlando_counties)].RegionID.unique().tolist()
%store orlando_zip

Stored 'orlando_zip' (list)

In [23]:
tampa_zip=zri[zri.CountyName.isin(tampa_counties)].RegionID.unique().tolist()
%store tampa_zip

Stored 'tampa_zip' (list)

In [24]:
jackvonsille_zip=zri[zri.CountyName.isin(jackvonsille_counties)].RegionID.unique().tolist()
%store jackvonsille_zip

Stored 'jackvonsille_zip' (list)