In [26]:
import numpy as np
import pandas as pd

In [27]:
zri = pd.read_csv('../data/Zip_Zri_MultiFamilyResidenceRental.csv')

In [28]:
zri.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-09,2010-10,2010-11,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,2930.0,2952.0,2926.0,...,3484.0,3523.0,3573.0,3622.0,3664.0,3698.0,3704.0,3692.0,3715.0,3676.0
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,1447.0,1465.0,1469.0,...,1731.0,1749.0,1768.0,1787.0,1801.0,1806.0,1789.0,1761.0,1747.0,1731.0
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,2797.0,2811.0,2813.0,...,3449.0,3459.0,3479.0,3491.0,3510.0,3521.0,3574.0,3608.0,3561.0,NaN
3,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,NaN,NaN,NaN,...,1226.0,1250.0,1264.0,1251.0,1246.0,1252.0,1280.0,1310.0,1294.0,1286.0
4,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,1437.0,1469.0,1490.0,...,1888.0,1911.0,1934.0,1950.0,1953.0,1952.0,1921.0,1958.0,NaN,1916.0

In [29]:
actual_miami_zip=sorted(zri[zri["Metro"]=="Miami-Fort Lauderdale-West Palm Beach"].RegionName.unique().tolist())
%store actual_miami_zip

Stored 'actual_miami_zip' (list)

In [30]:
actual_orlando_zip=sorted(zri[zri["Metro"]=="Orlando-Kissimmee-Sanford"].RegionName.unique().tolist())
%store actual_orlando_zip

Stored 'actual_orlando_zip' (list)

In [31]:
actual_tampa_zip=sorted(zri[zri["Metro"]=="Tampa-St. Petersburg-Clearwater"].RegionName.unique().tolist())
%store actual_tampa_zip

Stored 'actual_tampa_zip' (list)

In [32]:
actual_jacksonville_zip=sorted(zri[zri["Metro"]=="Jacksonville"].RegionName.unique().tolist())
%store actual_jacksonville_zip

Stored 'actual_jacksonville_zip' (list)

In [33]:
actual_miami_zip

[33004,
 33009,
 33010,
 33020,
 33021,
 33024,
 33025,
 33027,
 33033,
 33060,
 33062,
 33064,
 33065,
 33066,
 33068,
 33125,
 33126,
 33127,
 33130,
 33131,
 33132,
 33133,
 33134,
 33135,
 33137,
 33138,
 33139,
 33140,
 33141,
 33142,
 33143,
 33145,
 33146,
 33147,
 33150,
 33154,
 33156,
 33157,
 33160,
 33161,
 33172,
 33178,
 33179,
 33180,
 33186,
 33196,
 33301,
 33304,
 33305,
 33308,
 33311,
 33312,
 33313,
 33314,
 33315,
 33316,
 33323,
 33324,
 33334,
 33401,
 33404,
 33407,
 33413,
 33414,
 33418,
 33432,
 33433,
 33435,
 33436,
 33444,
 33445,
 33458,
 33460,
 33461,
 33483]

In [34]:
actual_orlando_zip

[32701,
 32703,
 32714,
 32751,
 32765,
 32771,
 32792,
 32801,
 32803,
 32806,
 32807,
 32810,
 32811,
 32812,
 32817,
 32821,
 32822,
 32825,
 32826,
 32827,
 32828,
 32835,
 32837,
 32839,
 34711,
 34747,
 34787]

In [35]:
actual_tampa_zip

[33510,
 33511,
 33578,
 33602,
 33604,
 33605,
 33606,
 33607,
 33611,
 33612,
 33613,
 33615,
 33617,
 33626,
 33634,
 33701,
 33702,
 33705,
 33706,
 33707,
 33708,
 33712,
 33716,
 33755,
 33756,
 33759,
 33764,
 33771,
 33774,
 34683,
 34684,
 34698]

In [36]:
actual_jax_zip

[32204, 32205, 32206, 32207, 32209, 32216, 32224, 32225, 32246, 32250, 32256]